{% extends "global/base.html" %}

{% block content %}
    <table class="table mt-5">
        <thead>
            <tr>
                <th scope="col">Valor</th>
                <th scope="col">Descrição</th>
                <th scope="col">Fluxo</th>
                <th scope="col">Data</th>
            </tr>
        </thead>
        <tbody>
            {% for despesa in despesas %}
                <tr>
                    <th scope="col"> {{despesa.value}} </th>
                    <th> {{despesa.observation}}</th>
                    <th> {{despesa.flow}} </th>
                    <th> {{despesa.date}} </th>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock content %}